.nav-custom {
  text-decoration: none;
  color: black;
}

.text-custom {
  text-align: center;
  margin-top: 1rem;
  color: gray;
}

.icon-custom {
  margin-left: 1rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.button-custom {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.input-custom {
  width: 100%;
}

.h-custom {
  text-align: left;
  margin: 0.5rem;
  width: auto;
}

.name {
  color: gray;
  border-radius: 0.5rem;
}

.type{
  float: right;
  border-style: groove;
  border-radius: 0.5rem;
  text-align: center;
}

.ul-custom {
  margin: 0.5rem;
}

.li-custom {
  list-style-type: none;
}

.container-custom {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-style: groove;
  border-radius: 0.5rem;
  height: 11rem;
}

.delete-custom {
  border-radius: 0.5rem;
  width: 2rem;
  margin: 0.5rem;
}
.edit-custom {
  border-radius: 0.5rem;
  width: 2rem;
  margin: 0.5rem;
}

.Personal{
  background-color: blue;
  color: white;
}
.Business{
  background-color: #088F8F;
  color: white;
}

.custom-alert{
  background-color:  #cf3432;
  color: white;
  text-align: center;
  border-radius: 0.6rem;
  display: block;
  padding: 0.3rem;
}

